.App {
  font-family: sans-serif;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
}
